<div class="col-md-offset-2 col-md-7 user-head">
  <%= image_tag current_user.profile_picture, {class: "img-circle", style: "float:left" } %>
  <div style="float:right">
    <p><text class="username"><%= @user.details.username %></text></p>
    <p>
      <strong><%= @user.details.full_name %></strong> <%= @user.details.bio %>
    </p>
    <p>
      <strong><%= @user.details.post_count %></strong> posts&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <strong><%= @user.details.follower_count %></strong> followers&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <strong><%= @user.details.following_count %></strong> following
    </p>
  </div>
</div>
<%= render "modal" %>
<div class="col-md-offset-1 col-md-11 col-md-offset-1">
  <table id="media">
    <thead>
    </thead>
    <tbody class="page">
      <%= render "media", :object => @media %>
    </tbody>
  </table>
</div>
<%= paginate @media, :param_name => :media_page %>
